<h3>Welcome to SecureTodos</h3>

<p class="jumbotron">
	SecureTodos encrypts your daily todos in a secure manner. If you want a 100% secure way of storing data, SecureTodos suits you well.<br/>

</p>

<p>
We don't store your todos on our servers, except if you ask for it. This application works beautifully online and offline as well.<br/>
Can't think about a <b>strong</b> password? Try our <a href="http://password.apps.raszyk.de/">Password Generator</a>.</p>
<p>Don't feel satisfied? That's just fine. How about you <a href="http://culturedcode.com/things/">try</a> <a href="https://www.wunderlist.com/de/">some</a> <a href="http://www.realmacsoftware.com/clear/">alternatives</a></p>