
@import 'sass-bootstrap-compass/sass/sass-bootstrap';
body {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}
.label-danger {
	background-color: #d9534f;
}
h1 .label {
	font-size: 18px;
	padding: 10px;
	position: relative;
	bottom:5px;
	left:-5px;
}
.header {
	text-align: center;
}
.copyright {
	text-align: center;
	
	a {
		color: #333;
		font-weight: bold;
		text-decoration: none;
	}
}
.fold {
	display: none;
}

.container {
	padding: 0;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	.heading {
		border-radius: 5px 5px 0 0;
		padding: 20px;
		background: #f9f9f9; /* Old browsers */
		background: -moz-linear-gradient(top,  #f9f9f9 0%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f9f9f9 0%,#ededed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
		color: #333;
		text-shadow: 1px 1px 0 #fff;
		text-align:center;
		border-bottom: 1px solid #888;
		h2 {
			padding: 0;
			margin: 0;
		}
		
	}
	
	background-color:#fff;
	min-height: 800px;
	margin-top:30px;

}

.inner-padding {
	padding: 10px;
}


#rsa {
	width: 90%;
	.progress {
			margin: 5%;
	}
	
}
.rsa-view {
	border: 5px dashed #777;
	margin: 5%;
	padding: 20px;

	position: static;

	height: 300px;
}
.vertical-aligned {
	
	line-height: 250px;
	font-size: 25px;

	font-weight: bolder;
	font-family: 'Courier New', 'Monospace';



	
	
}